figure{
  margin: 0;
}

.App {
  text-align: center;
  height: 100%;
}

.App-contenedor{
  background-color: peru;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  font-size: calc(10px + 2vmin);
}

.Cards-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.Card{
  border: 1px solid white;
  border-radius: 10px;
  max-width: 300px;
  background-color: black;
  cursor: pointer;
}


.Card-image>figure>img{
  border-radius: 10px;
}

.Card-image>figure>img:hover{
filter: invert(100%);
}

.Card-description{
  padding: 0 30px;
}

.Card-name{
  white-space: nowrap;
  overflow: hidden;
}









